
<DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="static/css/usersite/admission.css">
    
</head>
<body >
{% comment %} <form action="./admissionConnect.jsp"> {% endcomment %}
<div class="container">

        <h4 style="padding-top: 20px; text-align: center; text-transform: uppercase;">Department of</h4>
        
       <!--  <h4 style=" text-align: center; text-transform: uppercase;"> <input type="text" placeholder="ENTER YOUR BRANCH" "> </h4> -->
     <div id="div1">
        <h4 id="branch" class="branchselect" style="text-align:center;text-transfrom:uppercase">
            <select id="dropdown" name="branch"style="background:transparent; border:2px solid transparent;" >
                <option value="default" selected>Your Branch</option>
                <option value="CS">CS</option>
                <option value="IT">INFT</option>
                <option value="EXTC">EXTC</option>
                <option value="AIDS">AI & DS</option>
                <option value="Mechanical">Mechanical</option>
                <option value="Civil">Civil</option>
            </select>            
        </h4>
        </div>
        <br> 
       
        <h3 style="text-align: center; text-transform: uppercase; text-decoration: underline;">Proctor Record</h3>
        
    </div>
    <!-- <div class="container">

        <h4 style="padding-top: 20px; text-align: center; text-transform: uppercase;">Department of</h4>
        
  
        <br> 
         <select name="branch" id="branch" >
                <option value="default" selected>Your Branch</option>
                <option value="CS">Computer Science</option>
                <option value="IT">Information Technology</option>
                <option value="EXTC">EXTC</option>
                <option value="AIDS">AIDS</option>
                <option value="Mechanical">Mechanical</option>
                <option value="Civil">Civil</option>
            </select>         
        
        <h3 style="text-align: center; text-transform: uppercase; text-decoration: underline;">Proctor Record</h3>
        
    
 -->
    <br> <br>
    {% comment %} <form action="Admission" method="POST"> {% endcomment %}
        {% csrf_token %}
    <div class="container">
     <h5>Name of the Proctor : <input type="text">  </h5>

            <br>
        <table>
            <tbody>
                <tr>
                    <td colspan="3">Surname : <input id="surname" type="text" value=" " name="surname"></td>
                    
                    <td colspan="3">First Name : <input id="name" type="text" value=" " name="name"></td>
                    
                    <td colspan="3">Middle Name : <input id="midname" type="text" value=" " name="midname"></td>

                    
                </tr>
                <tr>
                    <td>Roll No.</td>
                    <td><input id="rollno1" type="number" placeholder="SEM 1" name="sem1" value=0 onkeypress='validate(event)' ></td>
                    <td><input id="rollno2" type="number" placeholder="SEM 2" name="sem2" value=0 onkeypress='validate(event)'></td>
                    <td><input id="rollno3" type="number" placeholder="SEM 3" name="sem3" value=0 onkeypress='validate(event)'></td>
                    <td><input id="rollno4" type="number" placeholder="SEM 4" name="sem4" value=0 onkeypress='validate(event)'></td>
                    <td><input id="rollno5" type="number" placeholder="SEM 5" name="sem5" value=0 onkeypress='validate(event)'></td>
                    <td><input id="rollno6" type="number" placeholder="SEM 6" name="sem6" value=0 onkeypress='validate(event)'></td>
                    <td><input id="rollno7" type="number" placeholder="SEM 7" name="sem7" value=0 onkeypress='validate(event)'></td>
                    <td><input id="rollno8" type="number" placeholder="SEM 8" name="sem8" value=0 onkeypress='validate(event)'></td>
                </tr>

                

                <tr id="photo">
                    <td colspan="2">Upload your Photo</td>
                    <td colspan="7">
                        <input type="file" id="myFile" name="filename" >  
                        <a href="https://drive.google.com/drive/u/1/folders/1rmO_Xz9AAcfRy3q6Ca6WmHEh984pSppi">
                        <input id="btn" type="button" value="Upload" class="btn btn-primary">  
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>

           

    </div>

    <br>

    <div class="container">

        <br>
        <ul style="margin-left: -2%;"><li><h4>Admission Details:</h4></li></ul>
        
    </div>
    <br>
    <div class="container">

        <table class="adm">
            <tr>
                <td>Year of Admission</td>
                <td><input type="text" name="year" onkeypress='validate(event)'></td>
                <td>Category of Admission</td>
                <td><input type="text" name="category" ></td>
                <td>HSC (%)</td>
                <td><input type="text" name="hsc" onkeypress='validate(event)'></td>
            </tr>

            <tr>
                <td>CET Score</td>
                <td><input type="text" name="cet" onkeypress='validate(event)'></td>
                <td>JEE Score</td>
                <td><input type="text" name="jee"onkeypress='validate(event)'></td>
                <td>Diploma (%)</td>
                <td><input type="text"  name="diploma" onkeypress='validate(event)'></td>
            </tr>
        </table>
        
    </div> <br> <br>

    <div class="container" id="bottombtns">
       <!--  <a href="personalinfo.jsp"> -->
    <a href="{%url 'personalinfo'%}">
            <input class="btn btn-primary submit-btn" id="next"type="submit" value="Next" style="float: right;"  min="0" max="500000000000">  
        </a>
        <a href="">
            <input class="btn btn-primary submit-btn" type="submit" value="Save" style="float:right; " id="save" >  
            {% comment %} <button onclick="window.print()">Print this page</button> {% endcomment %}
        </a> 
    </div>
     
    <div style="padding-bottom: 100px;">
        
    </div>
    <div class="html2pdf__page-break"></div>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.8.0/html2pdf.bundle.min.js" integrity="sha512-w3u9q/DeneCSwUDjhiMNibTRh/1i/gScBVp2imNVAMCt6cUHIw6xzhzcPFIaL3Q1EbI2l+nu17q2aLJJLo4ZYg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->
    <!-- <script src="scrpit2.js"></script> -->
    
  </form>
  <script src="static/js/usersite/keychecker.js"></script>
  <script src="static/js/usersite/localstorage.js"></script>
  {% comment %} <script src="scrpit2.js"></script> {% endcomment %}
</body>
</html>

